.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AboutPhoto {
  margin: 30px;
  width: 50%;
  border: 3px solid #e09f3e;
  border-radius: 15px;
}

.AboutH1 {
  color: #e09f3e;
  font-size: 30px;
}

.AboutP {
  color: #e09f3e;
  font-size: 15px;
}

.Info {
  text-align: center;
  max-width: 70%;
}

@media only screen and (min-width: 640px) {
  .container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .AboutPhoto {
    margin: 30px;
    width: 30%;
    border: 3px solid #e09f3e;
    border-radius: 15px;
  }
  
  .AboutH1 {
    color: #e09f3e;
    font-size: 60px;
  }
  
  .AboutP {
    color: #e09f3e;
    font-size: 30px;
    margin: 20px 100px;
  }
}