.container {
  margin: 100px 0;
  text-align: center;
}

.DetailsImg {
  margin: 15px;
  width: 60%;
  border: 3px solid #e09f3e;
  border-radius: 15px;
}

.DetailsH1 {
  color: #335c67;
  font-size: 60px;
}

.DetailsP {
  color: #e09f3e;
  font-size: 30px;
  margin: 20px 100px;
}

a {
  text-decoration: none;
  color: #335c67;
  font-size: 30px;
  font-weight: bold;
}

.GithubContainer {
  padding: 20px;
}

.DeployedContainer {
  padding: 20px;
}