.container {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ResumePhoto {
  width: 60%;
  border: 3px solid #e09f3e;
  border-radius: 15px;
  margin-bottom: 10px;
}

.ResumeObject {
  height: 450px;
}

@media only screen and (min-width: 640px) {
  .container {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .ResumePhoto {
    width: 35%;
    border: 3px solid #e09f3e;
    border-radius: 15px;
    margin-right: 40px;
  }
  
  .ResumeObject {
    height: 800px;
    width: 800px;
  }
}