.container {
  text-align: center;
  width: 100%;
  height: 40px;
  padding: 15px;
  font-size: 25px;
}

.ContactH1 {
  color: #335c67;
  font-size: 60px;
}

.ContactPhoto {
  margin: 30px;
  width: 60%;
  border: 3px solid #e09f3e;
  border-radius: 15px;
}

.gmailContainer {
  padding: 10px;
}

.githubContainer {
  padding: 10px;
}

.linkedinContainer {
  padding: 10px;
}

img {
  background-color: #540b0e;
}

.ContactA {
  text-decoration: none;
  color: #e09f3e;
}
.ContactP {
  color: #e09f3e;
  font-weight: bold;
  font-size: 30px;
}