.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.ContactH1 {
  color: #e09f3e;
  font-size: 30px;
}

.Info {
  text-align: center;
  max-width: 70%;
}

.ContactPhoto {
  width: 60%;
  border: 3px solid #e09f3e;
  border-radius: 15px;
}

.gmailContainer {
  padding: 10px;
}

.contactContainer {
  padding: 10px;
}

.GithubImg {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.LinkedinImg {
  padding: 10px;
}

.ContactA {
  text-decoration: none;
  color: #e09f3e;
}

.ContactP {
  color: #e09f3e;
  font-weight: bold;
  font-size: 20px;
}

@media only screen and (min-width: 640px) {
  .container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .ContactH1 {
    color: #e09f3e;
    font-size: 60px;
  }
  
  .ContactPhoto {
    margin: 30px;
    width: 30%;
    border: 3px solid #e09f3e;
    border-radius: 15px;
  }
  
  .gmailContainer {
    padding: 10px;
  }
  
  .contactContainer {
    padding: 20px;
  }
  
  .GithubImg {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    margin-right: 60px;
  }
  
  .LinkedinImg {
    padding: 10px;
  }
  
  .ContactA {
    text-decoration: none;
    color: #e09f3e;
  }
  .ContactP {
    color: #e09f3e;
    font-weight: bold;
    font-size: 30px;
  }
}