.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HomePhoto {
  margin: 30px;
  width: 40%;
  border: 3px solid #e09f3e;
  border-radius: 15px;
}

.HomeH1 {
  display: flex;
  color: #e09f3e;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.AboutP {
  color: #e09f3e;
  font-size: 30px;
  margin: 20px 100px;
}

.Info {
  max-width: 70%;
  text-align: center;
  margin-bottom: 40px;
}

.TechStack {
  border: 3px solid red;
  max-width: 100px;
  max-height: 100px;
}

.TechStackImg {
  filter: brightness(0) invert(1);
  max-width: 100px;
  max-height: 100px;
}

@media only screen and (min-width: 640px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .HomePhoto {
    width: 20%;
  }

  .Info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 50%;
  }
}