.container {
  margin: 100px 0;
  text-align: center;
}

img {
  margin: 15px;
  width: 60%;
  border: 3px solid #e09f3e;
  border-radius: 15px;
}

.ProjectH1 {
  color: #335c67;
  font-size: 60px;
}

button {
  width: 300px;
  font-size: 20px;
  background-color: #e09f3e;
  border-radius: 10px;
  border: 4px solid #335c67;
  box-shadow: 2px 5px 5px 2px #e09f3e;
}